<!DOCTYPE html>
%html
  %head
    %title Notebook
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body{:style => 'padding-top:40px;'}
  .topbar
    .topbar-inner
      .container
        %h3
          =link_to "Notebook", root_url
        %ul.nav
          %li
            = link_to "Home", root_url
          %li
            = link_to "About", about_url
        %ul.nav.secondary-nav
          %li{:class => 'dropdown', :'data-dropdown' => 'dropdown'}
            = link_to "Tools", '#', :class => 'dropdown-toggle'
            %ul.dropdown-menu
              %li
                = link_to "Import Google notebook", '#'
              %li
                = link_to "Do something else", '#'

  .container
    = yield


