<!DOCTYPE html>
%html
  %head
    %title Notebook
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  .topbar
    .topbar-inner
      .container
        %h3
          =link_to "Jottinx", root_url
        %ul.nav
          %li
            = link_to "Home", root_url
          %li
            = link_to "About", about_url
        %ul.nav.secondary-nav
          - if current_user
            %li{:class => 'dropdown', :'data-dropdown' => 'dropdown'}
              = link_to "Tools", '#', :class => 'dropdown-toggle'
              %ul.dropdown-menu
                %li
                  = link_to "Import Google notebook", '#'
                %li
                  = link_to "Do something else", '#'
                %li
                  = link_to "Your profile", '#'
                %li
                  = link_to "Logout", destroy_user_session_path, :method => :delete

  .container
    - flash.each do |name, msg|
      %div{:class => [name," alert-message"], :id => "flash_#{name}"}
        = msg
    = yield
  %footer.footer
    .container
      %p
        Jottinx is a
        = link_to '@dixis', 'http://twitter.com/dixis'
        realisation.
        %br
        = "&copy; 2011".html_safe
        |
        = app_version

:javascript
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/yXRWlkle4k2oy5jElyPtA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();




